<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolTok</title>
    <link rel="stylesheet" href="styles/app.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <div class="container text-center text-white">
        <h1 class="fs-1"><span id="tik">School</span><span id="tok">Tok</span></h1>
        <div id="app" class="container">
            <div class="row">
                <div class="col-sm-8">
                    <video id="video" autoplay loop controls width="576" height="1024">
                        <source src="" type="video/mp4" id="video-source">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-sm-4">
                    <div class="card card-light pb-2">
                        <h3>Comments</h3>
                        <ul id="comments" class="text-start"></ul>
                        <form id="form">
                            <input id="input" autocomplete="off" /><button>Send</button>
                        </form>
                    </div>
                    <div class="card card-light mt-5">
                        <h3>Notfications</h3>
                        <ul id="notifications" class="text-start"></ul>
                    </div>
                </div>
            </div>

            <p><strong><span id="handle">Handle</span></strong> <span id="caption">Placeholder caption</span></p>
            <br>
            <button id="like" class="btn btn-primary mx-2">Like <span id="likes">(0)</span></button><button id="share"
                class="btn btn-success mx-2">Share</button><button id="scroll"
                class="btn btn-light mx-2">Scroll</button><button id="create" class="btn btn-danger mx-2"
                onclick="window.location.href='/create'">+</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const app = document.getElementById('app');
    app.style.visibility = 'hidden';

    const video = document.getElementById('video');
    const source = document.getElementById('video-source');
    const scroll = document.getElementById('scroll');
    const caption = document.getElementById('caption');
    const handle = document.getElementById('handle');
    const commentForm = document.getElementById('form');
    const input = document.getElementById('input');
    const commentSection = document.getElementById('comments');
    const notifications = document.getElementById('notifications');
    const like = document.getElementById('like');
    const likes = document.getElementById('likes');

    let video_name = '';
    let username = '';

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function getVideo() {
        socket.emit('video@get', (getCookie('token')));
    }

    const cookie = document.cookie;

    if (cookie) {
        cookieVal = getCookie('token');
        socket.emit('token@emit', cookieVal);
    }

    like.addEventListener('click', () => {
        socket.emit('like@add', getCookie('token'), video_name);
        socket.emit('like@update', video_name);
    })

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
            socket.emit('comment@add', username, video_name, input.value);
            input.value = '';
            socket.emit('comment@update', video_name);
        }
    })

    scroll.addEventListener('click', () => {
        getVideo();
    })

    socket.on('like@update', (count) => {
        likes.textContent = '(' + count + ')';
    })

    socket.on('video@send', (video_file, info) => {
        source.src = '/videos/' + video_file;
        caption.textContent = info.title;
        handle.textContent = info.username;

        video_name = info.title;


        video.load();
        video.play();

        socket.emit('comment@update', (video_name));

        app.style.visibility = 'visible';
    })

    socket.on('notifications@update', (notifs) => {
        notifications.innerHTML = '';
        for (const notif of notifs) {
            const item = document.createElement('li');
            switch (notif.type) {
                case 'mention':
                    item.innerHTML = `<strong>${notif.user} just mentioned you in a comment:</strong> ${notif.content}`;
                    break;
                case 'follow':
                    item.innerHTML = `<strong>${notif.user}</strong> just followed you`;
                    break;
            }
            notifications.appendChild(item);
        }
    })

    socket.on('comment@update', (comments) => {
        commentSection.innerHTML = '';
        for (const comment of comments) {
            const item = document.createElement('li');
            item.innerHTML = `<strong>${comment.username}</strong>: ${comment.message}`;
            commentSection.appendChild(item);
        }
    });

    socket.on('token@auth', (usrname, video) => {
        username = usrname;
        
        if (video === 0) {
            getVideo();
        } else {
            socket.emit('video@get_specific', video);
        }

        app.style.visibility = 'visible';

        socket.emit('notifications@update', (getCookie('token')));
        socket.emit('like@update', video_name);

        function update() {
            setTimeout(() => {
                socket.emit('notifications@update', (getCookie('token')));
                socket.emit('like@update', video_name);
                update()
            }, 10000)
        }

        update()
    })

    socket.on('redirect', (dir) => {
        window.location.href = 'http://localhost:8000' + dir;
    })

</script>

</html>