<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In - SchoolTok</title>
        <link rel="stylesheet" href="styles/style.css" type="text/css">
    </head>
    <body>
        <h1>Welcome to <span id="tik">School</span><span id="tok">Tok</span></h1>
        <form id="signup-form" action="/signup" method="POST">
            <h2>Sign Up</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Sign In</button> <p>If you dont have an account, <a href="/">sign up.</a></p>
        </form>
    </body>
</html>